
<h1> <%= @user.username%>'s Groups</h1>

<h2>You have book <%= pluralize(@groups.count, "group") %>  </h2>

<h3>Your groups:</h3>
<% @groups.each do |group|%>
    <p> Name <%= group.name %> </p>
    <p> Number of books: <%= group.books.count %> </p>
<% end %>

<%= link_to new_group_path, class: 'btn btn-success text-white h3' do %>
	<%= fa_icon "plus" %> Add new Group
<% end %><br>