<body class=" blue">

    <%= render 'layouts/navigation'%>

	<%= render 'layouts/messages'%>


  <div class="container page-content text-center">
    <header>
      <h1> <%= @group.name  %></h1>
    </header>

	<% @books.each do |book|%>
    	<p> Title: <%= book.title %> </p>
    	<p> Author: <%= book.author %> </p>
    	<p> Number of pages: <%= book.number_of_pages %> </p>
	<% end %>

	</div>
</body>



