<body class=" blue">
  <div class="container page-content text-center">
    <header>
      <%= image_tag(@user.image_url.to_s) %>
      <h1> <%= @user.username%>'s Profile </h1>
    </header>
  	<div class="actions">
			<%= link_to edit_user_registration_path(current_user), class: 'text-white h3' do %>
				<%= fa_icon "cog" %> Account Settings
			<% end %> <br>
			<%= link_to edit_user_registration_path(current_user), class: 'text-white h3' do %>
				<%= fa_icon "book" %> All my Books
			<% end %><br>
			<%= link_to edit_user_registration_path(current_user), class: 'text-white h3' do %>
				<%= fa_icon "plus" %> Add new Book
			<% end %><br>
			<%= link_to edit_user_registration_path(current_user), class: 'text-white h3' do %>
				<%= fa_icon "users" %> Genres
			<% end %><br>

			
		</div>
	</div>
</body>




 