<h2>Edit <%= @book.title %></h2>
<%= form_with(model: @book, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder:'Title of Book', class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author, placeholder:'Name of Author', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :number_of_pages %>
    <%= f.text_field :number_of_pages, placeholder:'Number of pages', class: 'form-control' %>
  </div>

  <div class="form-group row">
    <%= f.label :groups, class:"col-2 col-form-label text-light"%>
    <div class="col-10">
    <%= f.collection_check_boxes :group_ids, Group.where(user: current_user), :id, :name do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "mx-3 checkbox  shadow rounded") + cb.text } %>
    <% end %> 
    </div>      
  </div>
  
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.submit 'Add Book', class: 'btn btn-success' %>
  </div>
<% end %>
