<h3>Books you may like: </h3>
<% @books.each do |book|%>
    <p> Title: <%= book.title %> </p>
    <p> Author: <%= book.author %> </p>
    <p> Number of pages: <%= book.number_of_pages %> </p>
    <p> Group: <%= book.groups.name %> </p>
<% end %>

<%= link_to new_book_path, class: 'btn btn-success text-white h3' do %>
	<%= fa_icon "plus" %> Add Book to your List
<% end %><br>