<div class="nav">
    <%= render 'layouts/navigation'%>
</div>
<%= render 'layouts/messages'%>
<h1> <%= @user.username%>'s Books</h1>

<h2>You have read <%= pluralize(@books.count, "book") %>  </h2>

<h3>Your books:</h3>
<% @books.each do |book|%>
    <p> Title: <%= book.title %> </p>
    <p> Author: <%= book.author %> </p>
    <p> Number of pages: <%= book.number_of_pages %> </p>
    <% if book.groups.any? %>
        <%= render book.groups%>
    <% end %>
<% end %> <br>

<%= link_to new_book_path, class: 'btn btn-success text-white h3' do %>
	<%= fa_icon "plus" %> Add new Book
<% end %><br>

