

<div class="nav">
    <%= render 'layouts/navigation'%>
    <h3 class="text-white center-nav"> <%= @book.title%></h3>
    
</div>


<%= render 'layouts/messages'%>
<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card mb-3">
        <div class="card-horizontal">

          <div class="img-square-wrapper">
            <%= image_tag(@book.image.present? ? @book.image.url : '', size: '200x200') %> 
          </div>

          <div class="card-body">
          <% if @book.user == current_user%>
            <p class="card-text  text-muted "> <strong> Personal Opinions:</strong>  <%= @book.description %> </p>
          <% end %>
            <p class="card-text  text-muted "><strong> Author:</strong> <%= @book.author %></p>
            <p class="card-text  text-muted "> <strong>Number of pages:</strong> <%= @book.number_of_pages %> </p>
            <% if @book.groups.any? %>
              <%= render @book.groups%>
            <% end %>
            
          </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Created <%= time_ago_in_words(@book.created_at)%> ago</small><br>
            <% if @book.user == current_user%>
            <small> 
              <%= link_to edit_book_path(@book), class: 'text-muted' do %>
				        <%= fa_icon "cog" %> Edit book
              <% end %>
            </small>
            <% end %>
            
          </div>
      </div>
    </div>
  </div>
</div>
